<div id="<%= dom_id ticket %>">
  <p>
    <strong>Название:</strong>
    <%= ticket.name %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= ticket.description %>
  </p>


  <p>
    <strong>Цена:</strong>
    <%= ticket.price %>
  </p>

</div>
