<%= link_to 'Мой профиль', profile_path %>
<%= link_to 'Админ', :admin_page %>

<h1>Все билеты</h1>

<div id="tickets">
  <% @tickets.each do |ticket| %>
    <%= render ticket %>
    <p>
      <%= link_to "Подробнее", ticket %>
    </p>
  <% end %>
</div>