<%= render @ticket %>

<div>
  <% if @user_buy_current_ticket %>
    <%= link_to "Отменить бронь", tickets_users_cancel_path(@ticket) %> |
  <% else %>
    <%= link_to "Купить", tickets_users_buy_path(@ticket) %> |
<% end %>
  <%= link_to "Вернуться ко всем билетам", tickets_path %>

</div>